<f:layout name="Default" />
<f:section name="main">
    <f:for each="{bxSliders}" as="bxSlider">
        <ul class="bxslider" id="bxslider{bxSlider.uid}">
            <f:for each="{bxSlider.images}" as="slide">
                <li>
                    <f:image src="uploads/tx_bxslider/{slide.image}" alt="{slide.title}" title="{slide.title}" />
                </li>
            </f:for>
        </ul>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.bxslider#bxslider<f:format.htmlentitiesDecode>{bxSlider.uid}</f:format.htmlentitiesDecode>').bxSlider(<f:format.htmlentitiesDecode>{sliderSettings}</f:format.htmlentitiesDecode>);
            });
        </script>
    </f:for>
</f:section>